<section class="feature_area p_120" id="about">
    <div class="container ">
        <div class="main_title">
            <h2>How we work</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p> -->
        </div>


        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div>
                    <img src="../../../assets/theme/img/icon-1.png" class="img-responsive" alt="icons">
                    <h3><strong>Design</strong></h3>
                    <p>iDzine team will work closely with you to achieve the best configurations,
                        layouts,
                        styles, finishes and furniture for your home.</p>
                    <!-- <p class="more-link1"><a href="how-it-works.html">Read More</a></p> -->
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div>
                    <img src="../../../assets/theme/img/icon-2.png" class="img-responsive" alt="icons">
                    <h3><strong>Build</strong></h3>
                    <p>Once the design is finalised, we build it at our Manufacturing Unit in Bangalore.</p>
                    <!-- <p class="more-link1"><a href="how-it-works.html">Read More</a></p> -->
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div>
                    <img src="../../../assets/theme/img/icon-3.png" class="img-responsive" alt="icons">
                    <h3><strong>Install</strong></h3>
                    <p>iDzine service includes installation of your new furniture in your home. Our dedicated team
                        will
                        ensure everything looks perfect!</p>
                    <!-- <p class="more-link1"><a href="how-it-works.html">Read More</a></p> -->
                </div>
            </div>
        </div>

    </div>
</section>