<!--================Footer Area =================-->
<footer class="footer_area p_120" id="contactus">
	<div class="container">
		<div class="row footer_inner">
			<div class="col-lg-6 col-sm-6">
				<aside class="f_widget ab_widget">
					<div class="f_title">
						<h3>Contact us</h3>
					</div>
					<p><i class="fa fa-map-marker fa-lg"></i> Sy no. 141/2 S Bingipura village, <br>
						Begur Jigani main road, <br>
						Near Red bridge school, <br>
						Bangalore KA 560105 </p>
					<p><i class="fa fa-phone"></i> (+91) 960 606 8888</p><br>
					<p><i class="fa fa-envelope"></i> info@idzine.in</p>
					<br>
					<br>
					<br>
					<p>
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
				</aside>
			</div>
			<!-- <div class="col-lg-5 col-sm-6">
				<aside class="f_widget news_widget">
					<div class="f_title">
						<h3>Newsletter</h3>
					</div>
					<p>Stay updated with our latest designs</p>
					<div id="mc_embed_signup">
						<form id="gform" data-email="mallapuramaditya@gmail.com"
							action="https://script.google.com/macros/s/AKfycbzmJaOYoA5aJlmpmMECiFqqenNueHeMlyTCUGrgta2klm5Y1Kc/exec"
							method="POST" class="subscribe_form relative">
							<div class="input-group d-flex flex-row">
								<input id="email" name="email" placeholder="Enter email address"
									onfocus="this.placeholder = ''" type="email">
								<button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
							</div>
							<div class="mt-10 info"></div>
						</form>
					</div>
				</aside>
			</div> -->
			<div class="col-lg-6">
				<aside class="f_widget social_widget">
					<div class="f_title">
						<h3>Follow us</h3>
					</div>
					<p>Let us be social</p>
					<ul class="list">
						<li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
						<li><a href="#"><i class="fa fa-whatsapp fa-lg"></i></a></li>
					</ul>
				</aside>
			</div>
		</div>
	</div>
</footer>