<!-- <header class="header_area ">

  <div class="main_menu" id="mainNav">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container ">
        <a class="navbar-brand logo_h " routerLink=""><img src="assets/theme/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"
          (click)="isShown = !isShown">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse justify-content-end navbar-collapse" [ngClass]="{ 'show': isShown }"
          id="navbarTogglerDemo03">
          <ul class="nav navbar-nav menu_nav ml-auto pull-right">
            <li class="nav-item active"><a class="nav-link" routerLink="">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#services">Our services</a></li>
            <li class="nav-item submenu dropdown">
              <a routerLink="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">Interior Designs</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" routerLink="kitchen">Modular Kitchen</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/wardrobe">Wardrobes</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/living">Living room</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/bedroom">Bed room</a></li>

              </ul>
            </li>

            <li class="nav-item"><a class="nav-link" href="#contactus">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header> -->



<!-- 
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink=""><img src="assets/theme/img/logo.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="">Home</a></li>
        <li><a href="#services">Our services</a></li>
        <li>
          <a>Interior Designs</a>
          <ul>
            <li><a routerLink="/kitchen">Modular Kitchen</a></li>
            <li><a routerLink="/wardrobe">Wardrobes</a></li>
            <li><a routerLink="/living">Living room</a></li>
            <li><a routerLink="/bedroom">Bed room</a></li>

          </ul>
        </li>

        <li><a href="#contactus">Contact</a></li>
      </ul>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-light bg-white navbar-expand-lg">
  <div class="container-fluid px-0">
    <div class="row w-100">
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isShown = !isShown">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col-2"> <a class="navbar-brand " routerLink="">
          <img src="assets/theme/img/logo.png" routerLink="" alt=""></a>
      </div>


      <div class="col-10 ">

        <div class="collapse  navbar-collapse justify-content-end" [ngClass]="{ 'show': isShown }"
          id="navbarTogglerDemo03">

          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link" routerLink="" (click)="isShown = false">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services" (click)="isShown = false">Services</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Design gallery
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item nav-link" routerLink="/kitchen">Modular Kitchen</a>
                <a class="dropdown-item nav-link" routerLink="/wardrobe">Wardrobes</a>
                <a class="dropdown-item nav-link" routerLink="/living">Living room</a>
                <a class="dropdown-item nav-link" routerLink="/bedroom">Bed room</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contactus" (click)="isShown = false">Contact</a>
            </li>
          </ul>
        </div>

      </div>


    </div>



  </div>
</nav>