<header class="header_area ">

  <div class="main_menu" id="mainNav">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container ">
        <a class="navbar-brand logo_h " routerLink=""><img src="assets/theme/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset " id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto pull-right">
            <li class="nav-item active"><a class="nav-link" routerLink="">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#services">Our services</a></li>
            <li class="nav-item submenu dropdown">
              <a routerLink="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">Interior Designs</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" routerLink="kitchen">Modular Kitchen</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/wardrobe">Wardrobes</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/living">Living room</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/bedroom">Bed room</a></li>

              </ul>
            </li>

            <li class="nav-item"><a class="nav-link" href="#contactus">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>



<!-- 
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink=""><img src="assets/theme/img/logo.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="">Home</a></li>
        <li><a href="#services">Our services</a></li>
        <li>
          <a>Interior Designs</a>
          <ul>
            <li><a routerLink="/kitchen">Modular Kitchen</a></li>
            <li><a routerLink="/wardrobe">Wardrobes</a></li>
            <li><a routerLink="/living">Living room</a></li>
            <li><a routerLink="/bedroom">Bed room</a></li>

          </ul>
        </li>

        <li><a href="#contactus">Contact</a></li>
      </ul>
    </div>
  </div>
</nav> -->