<section class="feature_area p_120" id="aboutus">
    <div class="container ">
        <div class="main_title">
            <h2>About us</h2> <br><br>


            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p> -->

            <div class="row">
                <div class="col-md-7">
                    <p>iDzine Home Studio is a Professional Interior Designing firm
                        specializing in New, existing & remodeled homes. <br><br>

                        We provide comprehensive and complete design services beginning with an initial design concept
                        through installation and detailing of final design elements to complete the project. <br><br>

                        A place where you live is the place that you love the most and nothing feels like Home.
                        Your personalized space enhances your Life Style, it symbolizes your confidence.
                        We help you beautify your Homes by personal consultation, we offer customized designs that
                        are cost efficient & comfort you with effective spacing. Come, lets together tune your desires
                        into designs.
                    </p>

                </div>
                <div class="col-md-5">
                    <img src="../../../assets/theme/img/studio_apartment.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</section>