<app-navbar></app-navbar>

<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="banner_content">
                        <h2>One-Stop Shop <br />for your home interiors</h2>
                        <p>Effective space utilization along with great aesthetics is our design mantra</p>
                        <a class="genric-btn primary circle btn-lg" data-toggle="modal" data-target="#enquiryForm">Get
                            Free
                            Consultation</a>
                        <div class="modal fade" id="enquiryForm">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header text-black-50 justify-content-center">
                                        <h3>Enter your details</h3>
                                    </div>
                                    <div class="modal-body">
                                        <!-- <app-contact></app-contact> -->
                                        <app-enquiry-form></app-enquiry-form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="home_right_box">
                        <div class="home_item">
                            <a routerLink="/kitchen"> <i class="flaticon-kitchen"></i></a>
                        </div>
                        <div class="home_item">
                            <a routerLink="/bedroom"> <i class="flaticon-bed"></i></a>
                        </div>
                        <div class="home_item">
                            <a routerLink="/wardrobe"><i class="flaticon-closet"></i></a>
                        </div>
                        <div class="home_item">
                            <a routerLink="/living"> <i class="flaticon-sofa"></i></a>
                        </div>
                        <!-- <div class="home_item">
                            <i class="flaticon-computer"></i>
                        </div>
                        <div class="home_item">
                            <i class="flaticon-mirror"></i>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-whatwedo></app-whatwedo>
<app-about></app-about>
<app-services></app-services>
<app-footer></app-footer>