<!--================Feature Area =================-->
<section class="feature_area p_120" id="services">
    <div class="container">
        <div class="main_title">
            <h2>Our Services</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p> -->
        </div>
        <div class="row feature_inner">
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <h4>Designing</h4>
                    <p>We have a dedicated team of designers to assist you in designing the layouts and also to help you
                        in selecting different color schemes and finishes for your interiors.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <h4>False Ceiling</h4>
                    <p>A designer ceiling isn’t just home decor that enhances your home’s look but also
                        helps reduce your household’s monthly expenses. Ceilings play a major part in the appearance of
                        your<span id="dots">...</span> <span id="more"> home since it occupies the largest visual
                            space.It not only conceals the wiring used in the
                            ceiling,
                            To add to the beauty, you could also get some interesting carvings on the higher ceiling
                            using
                            Plaster of Paris or POP.</span></p>
                    <a routerLink="#services" class="Readmore" onclick="readmore()" id="readMore">Read More</a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <h4>Painting</h4>
                    <p>The walls of your home colour your world. They are what set the mood for everyday life.
                        So, the way you apply your paint can be just as important as the colour itself. <br>
                        There are few<span id="dots1">...</span> <span id="more1"> design elements that are as
                            engaging as colorful wallpaper.
                            The simple addition of a wallpaper in a fun pattern or unexpected motif can liven up a space
                            in
                            an instant.
                        </span>
                    </p>
                    <a routerLink="#services" class="Readmore" onclick="read()" id="read">Read More</a>

                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <h4>Tailor-made Furniture</h4>
                    <p>We design and make furniture to suit & fit your home.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <h4>Home Automation</h4>
                    <p>When phone's can be smart, why leave our homes behind. Lets make our homes not only beautiful but
                        also smart with home automation .</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <h4>Home Insurance</h4>
                    <p>home insurance policy is a very affordable financial tool designed to cover your home and its
                        contents against natural and man-made calamities such as earthquakes, floods,<span
                            id="dots2">...</span> <span id="more2"> fire, theft,
                            burglaries and any other risks your residential area might be prone to.</span>
                    </p>
                    <a routerLink="#services" class="Readmore" onclick="read1()" id="read1">Read More</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->